<div class="row">
  <div class="col">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8">
            <h2>Employee <b>Details</b></h2>
          </div>
          <div class="col-sm-4">
            <button (click)="addNewUser()" type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
          </div>
        </div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of Users">
            <td>{{data.firstname}}</td>
            <td>{{data.lastname}}</td>
            <td>{{data.email}}</td>
            <td>
              <a  class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
              <a (click)="editUser(data.userId)" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
              <a (click)="deleteUser(data.userId)" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col">
      <div class="signup-form">
          <form [formGroup]="registerForm" method="post">
          <!-- <h2>Register</h2> -->
          <p class="hint-text">{{isEdit?'Update User':'AddUser'}}</p>
              <div class="form-group">
            <div class="row">
              <div class="col-md-6"><input type="text" formControlName="firstname" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
              <div class="col-md-6"><input type="text" formControlName="lastname" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
            </div>        	
              </div>
              <div class="form-group">
                <input type="email" class="form-control" formControlName="email" name="email" placeholder="Email" required="required">
              </div>
              <div *ngIf="!isEdit" class="form-group">
                <input type="password" class="form-control" formControlName="password" name="password" placeholder="Password" required="required">
              </div>
        
         
          <div class="form-group">
                  <button *ngIf="!isEdit" type="submit" (click)="registerUser(registerForm.value)" class="btn btn-success btn-lg btn-block">Add User</button>
                  <button *ngIf="isEdit" type="submit" (click)="updateUser(registerForm.value)" class="btn btn-success btn-lg btn-block">Update User</button>
                </div>              
          </form>        
      </div>
  </div>
</div>